<header>
    <div class="logo">
        Surplus
    </div>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/signUp">Register</a>
        <a href="/signIn">Login</a>
    </nav>
</header>

<main>
    <h1 class="welcomeTitle">Welcome to the Community-Driven Food Waste Reduction Platform</h1>
    <p class="welcomeText">Connect with your local community to reduce food waste by sharing surplus food.</p>
    
    <div class="authLinks">
        <a href="/signUp">Register</a>
        <a href="/signIn">Login</a>
        <a href="/bizsignUp">register as a business</a>
        <a href="/bizsignIn">log in as a business</a>
    </div>

</main>

<script src="../js/index.js"></script>