<div class="regContainer">
  <form class="userRegForm">
    <div class="formTitle">
      User Login
    </div>

    <div class="formField">
        <label for="email">Email</label>
        <input type="email" placeholder="Email Address" name="email">
    </div>

    <div class="formField">
        <label for="password">Password</label>
        <input type="password" placeholder="Enter your Password" name="password">
    </div>

    <button type="submit">Login</button>
  </form>
</div>